html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #121820;

    font-family: "Kiwi Maru", serif;
    color: rgba(245, 245, 245, 0.7);
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.title {
    font-weight: 300;
    font-size: 3rem;

    margin-top: 30px;
    margin-bottom: 20px;
}
